* {
    box-sizing: border-box;
}

body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: black;
}

label[for="guess"],
.final-result {
    color: white;
}

.grid-container{
    width: 256px;
    height: 256px;
    outline: white solid 2px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.grid-cell{
    outline: white solid 1px;
    text-transform: uppercase;
}

.letter-exists{
    background-color: yellow;
}

.letter-correct{
    background-color: green;
}

.letter-incorrect{
    background-color: grey;
}